apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx
    environment: lab
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    name: http
  sessionAffinity: None
